<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="connection.useUnicode">true</property>
    <property name="connection.characterEncoding">UTF-8</property>
    <property name="hibernate.connection.defaultNChar">true</property>
    <property name="hibernate.connection.username">DIGITURNO</property>
    <property name="hibernate.connection.password">Master01*</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="edu.konrad.digiturnotest.model.DgtArea"/>   
    <mapping class="edu.konrad.digiturnotest.model.DgtAuditoriaTurno"/> 
    <mapping class="edu.konrad.digiturnotest.model.DgtCliente"/>
    <mapping class="edu.konrad.digiturnotest.model.DgtClienteRol"/>
    <mapping class="edu.konrad.digiturnotest.model.MensajeModel"/>
  </session-factory>
</hibernate-configuration>
